*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imagesec{
    position: relative;
    width: 50%;
    height: 100%;
}

section .imagesec:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

section .imagesec img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .contentbox .formBox{
    width: 50%;
}

section .contentbox .formBox h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentbox .formBox .inputbox{
    margin-bottom: 20px;
}

section .contentbox .formBox .inputbox span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section .contentbox .formBox .inputbox input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

section .contentbox .formBox .inputbox input[type=submit]{
    background-color: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentbox .formBox .inputbox input[type=submit]:hover{
    background: #f53677;
}

section .contentbox .formBox .rememberbox{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}

section .contentbox .formBox .inputbox p {
    color: #607d8b;
}

section .contentbox .formBox .inputbox p a {
    color: #ff4584;
}

section .contentbox .formBox h3{
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

section .contentbox .formBox .sci{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .contentbox .formBox .sci li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

section .contentbox .formBox .sci li .fb:hover{
    background: #4267B2;
    border-radius: 50%;
}

section .contentbox .formBox .sci li .linkedin:hover{
    background: #0072b1;
    border-radius: 50%;
}

section .contentbox .formBox .sci li .google:hover{
    background: #db4a39;
    border-radius: 50%;
}

@media (max-width: 768px){
    section .imagesec {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .contentbox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentbox .formBox{
        width: 100%;
        padding: 40px;
        background: #fff;
        margin: 50px;
    }
    section .contentbox .formBox h3{
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }

}